<h1>{{title}}</h1>

<h2>My favorite hero is {{hero}}</h2>

<h2>Heroes list:</h2>

<p *ngIf="heroes.length > 3">There are many heroes!</p>

<li *ngFor="let onehero of heroes">
  <div>
    <label>name: </label>
    <!--<input [(ngModel)]="onehero.name" placeholder="name">-->
  </div>
  <div>(id:{{ onehero.id }})</div>
</li>

<div>
  <label>We should test the input button feature</label>
  <test-button>Button should be loaded</test-button>
</div>

<div>
  <label>Let's test the input field which gives suggestions</label>
  <suggestion-input>This is a suggestion input field</suggestion-input>
</div>
